.child {
  padding: 40px;
  font-size: 20px;
  height: 200px;
  width: 100px;
  max-width: 150px;
  min-width: 100px;
  background-color: orange;
}

.parent {
  background-color: blue;
  height: 80vh;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: flex;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
  .parent {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
